@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.designer-container {
  width: 100vw;
  height: 20vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat";
  user-select: none;

  section {
    display: flex;
    flex-direction: column;
  }

  section:nth-child(1) {
    align-items: center;
  }

  h1 {
    font-size: 5rem;
    margin-left: 15rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    padding-left: 10px;
    opacity: 0.5;
  }
}
