@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.title-container {
  width: 100vw;
  height: 20vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat";
  user-select: none;

  section {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  section:nth-child(1) {
    align-items: flex-start;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  h3 {
    opacity: 0.5;
    margin: 0;
  }
  body{
    margin: 20px 10px;
  }
}
